## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## Visual Studio
.vs/
*.userosscache
*.sln.docstates

## Rider
.idea/

## macOS
.DS_Store

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/

## App Settings (hassas bilgiler içerir)
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
!appsettings.json

